<!-- show todo alerts on dashboard -->
{% if user.is_authenticated %}
    <script>            
        $(function() {
            function createAlert(text, level = 'info'){
                var glyph_map = {                                        
                    "danger": "warning-sign",
                    "warning": "exclamation-sign",
                    "info": "info-sign",
                    "success": "ok-sign"
                };
                level = level in glyph_map ? level : 'info';
                var html = '<div class="alert alert-' + level 
                    + ' alert-dismissible" role="alert">'
                    + '<button type="button" class="close" '
                    + 'data-dismiss="alert" aria-label="Close">'
                    + '<span aria-hidden="true">&times;</span></button>'
                    + '<span class="glyphicon glyphicon-' 
                    + glyph_map[level] + '" aria-hidden="true"></span>'
                    + '&nbsp;&nbsp;' + text
                    + '</div>';
                return html;
            }

            function addTopicMessage(parts, itemCount, verb, itemName, url){
                if ( itemCount > 0 ) {
                    parts.push('<strong>' 
                        + itemCount.toLocaleString()
                        + '</strong> ' + verb + ' <a href="' + url + '"'
                        + 'class="alert-link">' + itemName
                        + (itemCount > 1 ? 's' : '')
                        + '</a>');                
                    }
            }
            
            $.get( '{% url "dashboard_alerts:get_todo_counts" %}', function( data ) {
                if ( data.has_to_dos ){
                    /* generate topic messages in order */
                    var parts = []                                       
                    addTopicMessage(
                        parts,
                        data.group_requests_count,
                        'pending',
                        'group request',
                        data.group_requests_link
                    );
                    addTopicMessage(
                        parts,
                        data.standings_requests_count,
                        'pending',
                        'standings request',                        
                        data.standings_requests_link
                    );
                    addTopicMessage(
                        parts,
                        data.srp_requests_count,
                        'pending',
                        'SRP request',                        
                        data.srp_requests_link
                    );
                    addTopicMessage(
                        parts,
                        data.notifications_count,
                        'unread',
                        'notification',                        
                        data.notifications_link
                    );
                
                    /* compose alert message */
                    var text = '';
                    if (parts.length == 1){ 
                        text = 'You have ' + parts[0] + '.'
                    } else {
                        var last = parts.pop()
                        text = 'You have ' + parts.join(', ') + ' and ' + last + '.'
                    }
                    var html = '<br>' + createAlert(text, data.alert_level)
                    $( '#div_dashboard_alerts' ).html(html)
                }
            });
        });
    </script>
{% endif %}